pkgbase = wpewebkit-gl-armv7l
	pkgdesc = Web content engine library optimized for embedded devices (gl version)
	pkgver = 2.28.0
	pkgrel = 1
	url = https://wpewebkit.org
	arch = armv7l
	groups = wpe
	license = custom
	depends = cairo
	depends = libxslt
	depends = gst-plugins-base-libs
	depends = libepoxy
	depends = libsoup
	depends = libwebp
	depends = harfbuzz-icu
	depends = woff2
	depends = openjpeg2
	depends = libseccomp
	depends = bubblewrap
	depends = xdg-dbus-proxy
	depends = geoclue
	depends = at-spi2-atk
	depends = libwpe
	provides = wpewebkit
	provides = wpewebkit-git
	conflicts = wpewebkit
	conflicts = wpewebkit-git
	source = https://webreflection.github.io/aur/wpewebkit-gl-armv7l-2.28.0.tar.gz
	md5sums = 4e9c8711811923eef9fdf03153255bcc
	sha1sums = f0301f3555d1bf0bd37214f17b761af29dd77bbe
	sha256sums = 64e7ce7083fe1d4cf55bd2c3d71060a4784b90bffb53491698c96351bbf418cc
	sha512sums = 761e0074f8309d4849e0fd93029983a010efc7a094bb0e02ca4c9bc92acf38896900485043a399b74d72e81fd3c87f0f29e77722c9bfc59d425208ccd1ad7682

pkgname = wpewebkit-gl-armv7l

